.bg-doncky-1 {
  background-color: #1b1b1b;
}

.bg-doncky-2 {
  background-color: #e0e2e3;
}

.bg-docnky-special {
  background-color: #3498db;
}

.text-doncky {
  color: #3498db;
}

/* Font size */

.f-14 {
  font-size: 14px;
}

.f-20 {
  font-size: 20px;
}

.f-25 {
  font-size: 25px;
}

.f-30 {
  font-size: 30px;
}

/* Carousel */
.carousel-indicators > li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 1;
}

.carousel-indicators > li.active {
  background-color: #3498db;
}

/* Title */
.title {
  position: relative;
  width: 250px;
  background-color: #3498db;
  color: #fff;
  padding: 7px;
  margin-bottom: 0;
}

.title::after {
  display: table;
  content: "";
  width: 200px;
  height: 55px;
  position: absolute;
  background-color: #3498db;
  bottom: 0;
  right: -105px;
  transform: rotate(30deg);
}

.sub-title {
  position: relative;
  width: 200px;
  background-color: #3498db;
  color: #fff;
  padding: 7px;
  margin-bottom: 0;
}

.sub-title::after {
  display: table;
  content: "";
  width: 200px;
  height: 55px;
  position: absolute;
  background-color: #3498db;
  bottom: 0;
  right: -105px;
  transform: rotate(30deg);
}

/* Post */

.post {
  border: 1px solid #000;
  padding: 7px;
}

.post-img {
  width: 100%;
  height: 200px;
}

.post hr {
  border-color: #707070;
  margin-top: 7px;
  margin-bottom: 7px;
}
.facebook_font {
  color: #035bff;
  float: right;
  font-size: 40px;
  margin-left: 20px;
}
.pagination {
  width: 100%;
  background-color: #ffffff;
  margin-top: 10px;
  font-size: 25px;
}
.pag-link {
  display: inline;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 0;
}

.pag-link:hover {
  text-decoration: none;
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
}

.pag-link.active {
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
}

.post-link ul {
  padding-left: 0;
  padding-top: 20px;
}

.post-link ul li {
  list-style-type: none;
}
.post-link ul li a {
  font-size: 16px;
  text-decoration: none;
}

.post-link ul li a:hover {
  background-color: #333;
  color: #fff;
}
