.colorImplement{
	color: #9b59b6;
	background-color: #d35400;
}

.backImage{
	font-size: 50px;
	background-image: url("goat_black.jpg");
	background-repeat: no-repeat;
	background-position: right top;

}

.borderImplement{
	/*border-style: groove ;
	border-left-color: #2c3e50;
	border-right-color: #3498db;
	border-top-color: #d35400;
	border-width: 10px;*/

	border: 10px groove red;
	border-radius: 4px;
}

.marginPrctice{
	border:10px solid green;
	margin-top: 200px;
	margin-left: 150px;
}

.paddingPractice{
	padding-left: 30px;
}

.marginOverall{
	margin: 200px 150px 100px 20px;
}